# Maven
target/
# IntelliJ
.idea/
*.iml
.idea_modules/
/project/boot/
/project/plugins/project
project/project
project/target
project/
target/
out/
lib_managed/
src_managed/
test-output/
# Eclipse
bin/
.classpath
.project
.settings/
.metadata